<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/changePass.css">
</head>
<body>

<div class="error" th:text="${error}"></div>
<div class="success" th:text="${success}"></div>

<form name="f" th:action="@{/main/personal-area/settings/change_password}" method="post">
    <div class="inline">
        <div class="vertical">
            <h5>Введите старый пароль</h5>
            <label>
                <input type="password" name="oldPassword" class="inputPassChange">
            </label>
        </div>
        <div class="vertical">
            <h5>Введите новый пароль</h5>
            <label>
                <input type="text" name="newPassword" class="inputPassChange">
            </label>
        </div>
        <div class="vertical">
            <h5>Подтвердите новый пароль</h5>
            <label>
                <input type="text" name="confirmNewPassword" class="inputPassChange">
            </label>
        </div>
    </div>
    <button type="submit">Сохранить</button>
</form>

<button type="button" onclick="history.back()">Назад</button>
</body>
</html>