<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/changePass.css">
    <link rel="stylesheet" href="../../static/styles/changePass.css">
</head>
<body>
<div class="bodyy">
    <div class="error" th:text="${error}"></div>
    <div class="success" th:text="${success}"></div>
    <div class="mainContainer">
        <div class="address">
            <h5 class="textGreen">Личный кабинет</h5>
            <h5 class="arrow"> &#8594; </h5>
            <h5 class="textGreen">Сменить пароль</h5>
        </div>
        <form name="f" th:action="@{/main/personal-area/settings/change_password}" method="post">
            <div class="inline">
                <div class="vertical">
                    <h5 class="textGreen">Текущий пароль</h5>
                    <label>
                        <input type="password" name="oldPassword" class="inputPassChange oldPassword">
                        <a class="formOldPass">&#128065;</a>
                    </label>
                </div>
                <div class="vertical">
                    <h5 class="textGreen">Новый пароль</h5>
                    <label>
                        <input type="password" name="newPassword" onchange="seeInvize()" class="inputPassChange safePass">
                        <a class="formNewPass">&#128065;</a>
                    </label>
                </div>
                <div class="vertical">
                    <h5 class="textGreen">Подтвердите пароль</h5>
                    <label>
                        <input type="password" name="confirmNewPassword" oninput="redBorder()" class="inputPassChange validConfirm">
                        <a class="confNewPass">&#128065;</a>
                    </label>
                </div>
            </div>
        </form>
        <div class="invize">
            безопасный пароль
        </div>
        <div class="inline relative">
            <button type="submit" class="buttonOK inputPassChange">Сохранить</button>
            <button onclick="history.back()" class="buttonCancell">Отменить</button>
        </div>
    </div>
</div>
<script src="../../static/js/changePass.js"></script>
<script src="/js/changePass.js"></script>
</body>
</html>
