<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>
<div>
    <h3 style="color: green; margin-left: 12%"> :-( </h3>
    <h3 style="color: darkred; margin-left: 9%"> Error code 500</h3>
    <h3 style="color: darkred; margin-left: 6%"> Wow! We have error here! </h3>
    <h3 style="color: darkred; margin-left: 7.5%"> Internal server error </h3>
    <h3 style="color: darkred"> Something went wrong, please try again, or later </h3>
    <input type="button" value="Назад" onclick="history.back()" style="margin-left: 10%; width: 75px;">
</div>
</body>
</html>