<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
</head>
<body>
<div>
    <h3 style="color: green; margin-left: 12%"> :-( </h3>
    <h3 style="color: darkred; margin-left: 9%"> Error code 403</h3>
    <h3 style="color: darkred; margin-left: 6%"> Wow! We have error here! </h3>
    <h3 style="color: darkred; margin-left: 4.5%"> Required content FORBIDDEN </h3>
    <h3 style="color: darkred"> Maybe you don't have enough rights to view this page? </h3>
    <input type="button" value="Назад" onclick="history.back()" style="margin-left: 10%; width: 75px;">
</div>
</body>
</html>