<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../insurance.css">
        <link rel="stylesheet" type="text/css" href="../style.css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/insurance.css}" href="/styles/insurance.css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" href="/styles/style.css">
        <title>Document</title>
    </head>

    <body>
        <nav class="navbarINSURANCE">
            <div class="leftNav">
                <a href="/main" class="linksNavBarInsurance">Главная</a>
                <a href="/investments/main" class="linksNavBarInsurance">Инвестиции</a>
            </div>
            <div class="rightNav">
                <a href="/main/personal-area" class="linksNavBarInsurance2">Личный кабинет</a>
                <a href="/registration" class="linksNavBarInsurance2" >Стать клиентом</a>
            </div>
        </nav>

        <div class="containerWarn">
            <div class="containerInline">
                <img src="../static/img/50.png" th:src="@{../img/50.png}" alt="car" class="img50">
                <h4 class="warnText">скидка аккуратным водителям! Есть 3 года безаварийного вождения? - значит есть возможность хорошо сэкономить!</h4>
            </div>
        </div>

        <div class="containerMain">
            <h3 class="warnText">Рассчитаем стоимость ОСАГО для Вашего автомобиля?</h3>
            <form name="f" th:action="@{/insurance/osago}" method="post">
                <div class="containerInline">
                    <div class="containerInputLarge">
                        <div class="text">
                            Марка
                        </div>
                        <input type="text" name="marka" class="innerInput" required>
                    </div>
                    <div class="containerInputLarge">
                        <div class="text">
                            Модель
                        </div>
                        <input type="text" name="model" class="innerInput"  required>
                    </div>
                    <div class="containerInputSmall">
                        <div class="text">
                            Л.с.
                        </div>
                        <input type="number" name="horsePower" class="innerInput"  required min="1">
                    </div>
                    <div class="containerInputSmall">
                        <div class="number">
                            Год выпуска
                        </div>
                        <input type="number" name="year" class="innerInput"  required min="2000">
                    </div>
                    <div class="containerInputSmall">
                        <div class="text">
                            Страхователей
                        </div>
                        <input type="number" name="drivers" class="innerInput"  required min="1">
                    </div>
                </div>

                <div class="containerInline">
                    <div class="containerRed">
                        <div class="containerInline">
                            <nobr class="text">
                                Автомобиль используется в такси?
                            </nobr>
                            <input type="radio" name="isTaxi" id="yes" value="yes">
                            <label for="yes">Да</label>
                            <input type="radio" name="isTaxi" id="no" value="no">
                            <label for="no">Нет</label>
                        </div>
                    </div>
                        <button type="submit" class="buttonGreen">Рассчитать</button>
                    <div class="containerRed">
                        <div class="containerInline">
                            <nobr class="text">
                                Ваш пов. коэффициент:
                            </nobr>
                            <div class="containerPrice" >
                                <div th:text="${koeff}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="center">
                <div class="containershowPrice">
                    <div class="containerInputLargeM">
                        <div class="text">
                            <nobr>Цена Вашего ОСАГО:</nobr>
                        </div>
                    </div>
                    <div class="containerPrice">
                        <div th:text="${price}"></div>
                    </div>
                    <div class="containerInputLargeM">
                        <div class="text">
                            рублей.
                        </div>
                    </div>
                </div>
            </div>
            <div th:text="${error}"></div>
            <h3 class="warnText">Мы ничего не скрываем от наших клиентов и считаем, что каждый вправе знать как считается полная стоимость его страховки!</h3>
            <h3 class="warnText">Таблица повышающих коэффициентов:</h3>

            <div class="containerInfo">
                <div class="containerInline">
                    <div class="textInfoTitle">
                        л.с.
                    </div>
                    <div class="textInfo">
                        <div class="HPower">< 100</div>
                        <div>/</div>
                        <div class="redKoeff">1</div>
                    </div>
                    <div class="textInfo">
                        <div class="HPower">101 - 125 </div>
                        <div>/</div>
                        <div class="redKoeff">1.1</div>
                    </div>
                    <div class="textInfo" >
                        <div class="HPower">126 - 149 </div>
                        <div>/</div>
                        <div class="redKoeff">1.15</div>
                    </div>
                    <div class="textInfo">
                        <div class="HPower">150 - 199 </div>
                        <div>/</div>
                        <div class="redKoeff">1.22</div>
                    </div>
                    <div class="textInfo">
                        <div class="HPower">200-249 </div>
                        <div>/</div>
                        <div class="redKoeff">1.3</div>
                    </div>
                    <div class="textInfo">
                        <div class="HPower"> > 249 </div>
                        <div>/</div>
                        <div class="redKoeff">1.4</div>
                    </div>
                </div>

                <div class="containerInline">
                    <div class="textInfoTitle">
                        <nobr>Лет с момента выпуска автомобиля</nobr>
                    </div>
                    <div class="textInfo" >
                        <div class="HPower">0-1</div>
                        <div>/</div>
                        <div class="redKoeff">1</div>
                    </div>
                    <div class="textInfo" >
                        <div class="HPower">2-3 </div>
                        <div>/</div>
                        <div class="redKoeff">1.1</div>
                    </div>
                    <div class="textInfo">
                        <div class="HPower">4-5 </div>
                        <div>/</div>
                        <div class="redKoeff">1.15</div>
                    </div>
                    <div class="textInfo">
                        <div class="HPower">>5 </div>
                        <div>/</div>
                        <div class="redKoeff">1.32</div>
                    </div>
                </div>

                <div class="containerInline">
                    <div class="textInfoTitle">
                        <nobr>Количество страхователей по полису</nobr>
                    </div>
                    <div class="textInfo">
                        <div class="HPower">1</div>
                        <div>/</div>
                        <div class="redKoeff">1</div>
                    </div>
                    <div class="textInfo">
                        <div class="HPower">2</div>
                        <div>/</div>
                        <div class="redKoeff">1.1</div>
                    </div>
                    <div class="textInfo">
                        <div class="HPower">3</div>
                        <div>/</div>
                        <div class="redKoeff">1.15</div>
                    </div>
                    <div class="textInfo" >
                        <div class="HPower">>3</div>
                        <div>/</div>
                        <div class="redKoeff">1.42</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footerOSAGO">
            <h4 class="footerTextOSAGO">Расширенный полис ОСАГО с возмещением до 2 млн рублей !</h4>
            <h4 class="footerTextOSAGO">Застраховались у нас не первый раз? Получите доп.скидку 5% !</h4>
            <h4 class="footerTextOSAGO">Оформили ДМС и ОСАГО? Кэшбек 10% !</h4>
            <h4 class="footerTextOSAGO">Покупаете ДМС и ОСАГО у нас на протяжении 5 лет и более? - для вас доступен специальный 2% кредит до 100 тысяч рублей !</h4>
            <h4 class="footerTextOSAGO">Оформили автокредит? Для вас ОСАГО на год - БЕСПЛАТНО !</h4>
        </div>
    </body>

</html>
