<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/securityRules.css}" href="/styles/securityRules.css">
    <link rel="stylesheet" type="text/css" href="../securityRules.css">
    <title>Rules</title>
</head>
<body>
    <nav class="navbarINSURANCE">
        <div class="leftNav">
            <a href="/main" class="linksNavBarInsurance">Главная</a>
            <a href="/investments/main" class="linksNavBarInsurance">Инвестиции</a>
        </div>
        <div class="rightNav">
            <a href="/main/personal-area" class="linksNavBarInsurance2">Личный кабинет</a>
            <a href="/registration" class="linksNavBarInsurance2" >Стать клиентом</a>
        </div>
    </nav>
    <div class="containerMain">
        <div class="inlineBlock">
            <img src="https://img.icons8.com/stickers/344/exclamation-mark--v1.png" alt="!" class="icon">
            <h5 class="h5warn">Никогда не передавайте Ваш пароль от личного кабинета третьим лицам! Это грозит
            Вам потерей всех Ваших  денег!</h5>
        </div>
        <div class="inlineBlock">
            <img src="https://img.icons8.com/stickers/344/exclamation-mark--v1.png" alt="!" class="icon">
            <h5 class="h5warn">Не стоит записывать пароль от личного кабинета где бы то ни было! В случае, если Вы его забыли, всегда
            можно восстановить и сменить пароль!</h5>
        </div>
        <div class="inlineBlock">
            <img src="https://img.icons8.com/stickers/344/exclamation-mark--v1.png" alt="!" class="icon">
            <h5 class="h5warn">Смените пароль от личного кабинета, если Вы заметили подозрительные активности на Вашем аккаунте!</h5>
        </div>
        <div class="inlineBlock">
            <img src="https://img.icons8.com/stickers/344/exclamation-mark--v1.png" alt="!" class="icon">
            <h5 class="h5warn">Для большей безопасности подключите услугу "Вход в личный кабинет с использованием СМС оповещения."</h5>
        </div>
        <div class="inlineBlock">
            <img src="https://img.icons8.com/stickers/344/exclamation-mark--v1.png" alt="!" class="icon">
            <h5 class="h5warn">Посмотрите НАСТРОЙКИ личного кабинета - нам есть, что предложить Вам в плане безопасности сделок!</h5>
        </div>
    </div>
</body>
</html>
