.calculatorMainContainer{
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    width: 96%;
    background: linear-gradient(to right, rgb(255, 254, 214) , #ffee88);
    box-shadow: 0 0 10px rgba(119, 115, 4, 1); /* Параметры тени */
}
.innerContainer{
        padding: 10px;
        margin: 10px;
}
.inputField{
    box-shadow: 0 0 10px rgb(117, 117, 117);
    border: 2px solid green;
    border-radius: 6px;
    padding: 5px;
    width: 149px;
}
.inputField2{
    box-shadow: 0 0 10px rgb(117, 117, 117);
    border: 2px solid green;
    border-radius: 6px;
    padding: 5px;
    width: 75px;
}
.result{
    margin-left: 5%;
    box-shadow: 0 0 10px rgb(117, 117, 117);
    border: 2px solid green;
    border-radius: 6px;
    padding: 5px;
    width: 149px;
}
.calcText{
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}
.calcTextTitle2{
    margin-left: 10%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}
.calcTextTitle{
    font-size: 14px;
    padding: 5px;
    text-align: center;
}
.readOnly{
    box-shadow: 0 0 10px rgb(117, 117, 117);
    border: 2px solid green;
    border-radius: 6px;
    padding: 5px;
    width: 50px;
    font-weight: bold;
    text-align: center;
}
.calcTextPercents{
    font-size: 14px;
    padding: 5px;
    margin-top: 3%;
}
.creditNames{
    text-decoration: none;
    color: green;
    font-family: cursive;
}
.creditNames:hover{
    text-decoration: none;
    color: green;
}
.containerSmall{
    display: inline-flex;
    width: 96%;
}
.resultText{
    margin-left: 5%;
    font-size: 14px;
    padding: 5px;
}
.nobrRight{
    margin-left: 5%;
    text-align: center;
}
.calcImg{
    margin-left: 2%;
    transition: 0.6s;
    margin-top: 1.9%;
}
.calcImg:hover{
    transform: scale(1.3);
}
