.containerFirst{
    margin-top: 5%;
    margin-bottom: 5%;
    background: linear-gradient(to right, #298831, #105221);
    padding: 10px;
    width: 99%;
    height: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.containerFirst-2{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
    background: linear-gradient(to right, #b770f9, #dcf4f7);
    padding: 10px;
    width: 98%;
    height: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.containerSecond{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background: linear-gradient(to right, #ffffff, #f0fdff);
    padding: 10px;
    width: 98%;
    height: 300px;
    display: inline-flex;
}
.standartContainer45{
    width: 50%;
    height: 99%;
    margin: 5px;
    margin-left: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
#shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
   }
.standartContainerCarouselItems{
    width: 100%;
    height: 100%;
    border: 2px solid red;
    margin: 5px;
}
.navbar{
    margin-top: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(43, 42, 42);
    display: inline-flex;
}
.leftNav{
    display: inline-flex;
}
.rightNav{
    display: inline-flex;
    width: 300px;
}
.rightNav2{
    display: inline-flex;
    width: 70px;
    color: white;
}
.linksNavBar{
    text-decoration: none;
    color: rgb(162, 161, 162);
    float: right;
    margin-right: 2%;
    padding-left: 20px;
}
.linksNavBar:hover{
    color: white;
}
.linksNavBar2{
    text-decoration: none;
    color: rgb(162, 161, 162);
    float: left;
    margin-left: 2%;
    padding-right: 20px;
}
.linksNavBar2:hover{
    color: white;
}
.rightContainerForImage{
    border: 2px solid red;
    width: 40%;
    height: 100%;
    float: right;
}
.leftContainerForText{
    border: 2px solid red;
    width: 59%;
    height: 100%;
}
.slaidText{
    color: white;
    padding: 10px;
    font-size: 20px;
}
.slaidText2{
    color: white;
    padding: 10px;
    font-size: 16px;
}

.slaidText3.hover{
    transform: scale(1.3);
}
.scale {
 transition: 1s; /* Время эффекта */
}
.scale:hover {
 transform: scale(1.2); /* Увеличиваем масштаб */
}

.warning{
    background: linear-gradient(to right, rgb(181, 237, 255) , #3dbbbb);
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    width: 80%;
    height: 100px;
    display: inline-flex;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.icon{
    width: 60px;
    height: 60px;
    margin-top: 25%;
}
.warnHref{
    text-decoration: none;
    color: green;
}
.warnHref:hover{
    color: rgb(0, 0, 0);
}
.hrefItem{
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: inherit;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 4px;
    font-family: monospace;
    margin-left: 20%;
    position: absolute;
    bottom: 30px;
    letter-spacing: 2px;
}
.hrefItem:hover{
    color: rgb(0, 0, 0);
}
.warnText{
    padding: 1%;
}

.calculator{
    margin-top: 10%;
    padding: 10px;
    width: 98%;
    height: 500px;
    border: 2px solid red;
    background: linear-gradient(to right, rgb(181, 237, 255) , #3dbbbb);
}
.exchange{
    margin-top: 10%;
    margin-left: 2%;
    padding: 10px;
    width: 96%;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 59, 60, 1); /* Параметры тени */
    background: linear-gradient(to right, rgb(181, 237, 255) , #3dbbbb);
}
.slaid{
    display: inline-flex;
    width: 100%;
    height: 215px;
}
.innerCarousel{
    height: 210px;
    margin-left: 30px;
}
.innerCarousel2{
    height: 210px;
    position: absolute;
    right: 1px;
}
.innerCarousel3.hover{
    transform: scale(1.3);
}
.img{
    margin-right: 1%;
    margin-left: 1%;
    float: right;
    text-align: center;
}
.img2 {
     margin-left: 100px;
     float: right;
      display: inline-block;
}
.img2 img {
      transition: 0.7s;
      display: block;
}
.img2 img:hover {
      transform: scale(1.2);
}
.settingsImg{
    width: 31px;
    height: 27px;
    margin-left: 15px;
    padding: 3px;
    border: 1px solid  rgb(162, 161, 162);
    border-radius: 7px;
}
.settingsImg:hover{
    background-color:  rgb(162, 161, 162);
}
